table, th, td {
  border:1px solid black;
}
body,html {
  margin:0;
  padding:0;
  
}
div {
  font-family: "Lucida Console", "Courier New", monospace;
  padding:10px;
    background-color:#1da140;
  text-align: center;
}
ul{
  text-align: left;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
button:hover {
  background-color: #008CBA;
  color: white;